@mixin listImage($list, $image, $lineheight: 40px, $padding-left: 45px) {
    #{$list} {
        background-image: $image;
        background-repeat: no-repeat;
        line-height: $lineheight;
        padding-left: $padding-left;
        list-style: none;
    }
}