/*colours*/
$p-colour: hsl(0, 0%, 47%);
$red-bg-colour: hsl(0, 76%, 44%);
$dimmer-red-bg-colour: hsl(0, 93%, 94%);
$strip-colour: hsl(59, 75%, 49%);

/*box-shadow*/
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;