@use 'variables' as *;
@use 'mixins' as *;
@use 'default' as *;

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
}

aside , header , main {
    border: 2px solid black;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 30px;
    grid-row: span 4;
    gap: 30px;
    grid-template-columns: minmax(100px, 1fr);
    background-color: red;
    @include listImage('.Dashboard li',url('../images/icons/aside/view-dashboard.png'), 50px, 50px);
    @include listImage('.Middle-List li:nth-child(1)',url('../images/icons/aside/home-circle.png'), $aside-list-line-height);
    @include listImage('.Middle-List li:nth-child(2)',url('../images/icons/aside/account-outline.png'), $aside-list-line-height);
    @include listImage('.Middle-List li:nth-child(3)', url('../images/icons/aside/message.png'), $aside-list-line-height);
    @include listImage('.Middle-List li:nth-child(4)', url('../images/icons/aside/history.png'), $aside-list-line-height);
    @include listImage('.Middle-List li:nth-child(5)', url('../images/icons/aside/file-document-outline.png'), $aside-list-line-height);
    @include listImage('.Middle-List li:nth-child(6)', url('../images/icons/aside/account-group.png'), $aside-list-line-height);
    @include listImage('.Bottom-List li:nth-child(1)', url('../images/icons/aside/cog.png'), $aside-list-line-height);
    @include listImage('.Bottom-List li:nth-child(2)', url('../images/icons/aside/face-agent.png'), $aside-list-line-height);
    @include listImage('.Bottom-List li:nth-child(3)', url('../images/icons/aside/shield-check.png'), $aside-list-line-height);

}

header {
    display: grid;
    padding: 10px 50px;
    
    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        column-gap: 20px;
        font-size: 1.2rem;
        input[type="search"] {
            width: 30vw;
            margin-right: auto;
        }
        .sm-header-pfp {
            /*temporary*/
            height: 40px;
            width: 40px;
            border: 2px solid black;
        }
    }

    .user-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .lg-header-pfp {
            /*temporary*/
            height: 80px;
            width: 80px;
            border: 2px solid black;
        }
        .pfp-text-container {
            display: flex;
            align-content: flex-end;
            flex-direction: column;
            height: 80px;
            margin-right: auto;
            h2 {
                font-size: 2rem;
            }
        }
    }
}

main {
    display: grid;
    grid-row: span 3;
}