@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*colours*/
/*box-shadow*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(4, 1fr);
}

aside {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 30px;
  grid-row: span 4;
  gap: 30px;
  grid-template-columns: minmax(100px, 1fr);
  background-color: hsl(0deg, 76%, 44%);
}
aside .Dashboard li {
  background-image: url("../images/icons/aside/view-dashboard.png");
  background-repeat: no-repeat;
  line-height: 50px;
  padding-left: 50px;
  list-style: none;
}
aside .Middle-List li:nth-child(1) {
  background-image: url("../images/icons/aside/home-circle.png");
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 45px;
  list-style: none;
}
aside .Middle-List li:nth-child(2) {
  background-image: url("../images/icons/aside/account-outline.png");
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 45px;
  list-style: none;
}
aside .Middle-List li:nth-child(3) {
  background-image: url("../images/icons/aside/message.png");
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 45px;
  list-style: none;
}
aside .Middle-List li:nth-child(4) {
  background-image: url("../images/icons/aside/history.png");
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 45px;
  list-style: none;
}
aside .Middle-List li:nth-child(5) {
  background-image: url("../images/icons/aside/file-document-outline.png");
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 45px;
  list-style: none;
}
aside .Middle-List li:nth-child(6) {
  background-image: url("../images/icons/aside/account-group.png");
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 45px;
  list-style: none;
}
aside .Bottom-List li:nth-child(1) {
  background-image: url("../images/icons/aside/cog.png");
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 45px;
  list-style: none;
}
aside .Bottom-List li:nth-child(2) {
  background-image: url("../images/icons/aside/face-agent.png");
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 45px;
  list-style: none;
}
aside .Bottom-List li:nth-child(3) {
  background-image: url("../images/icons/aside/shield-check.png");
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 45px;
  list-style: none;
}

header {
  display: grid;
  padding: 10px 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
header .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  column-gap: 20px;
  font-size: 1.2rem;
}
header .search-bar input[type=search] {
  width: 30vw;
  margin-right: auto;
  padding: 5px;
  border: none;
  border-radius: 20px;
  background-color: hsl(0deg, 93%, 94%);
}
header .search-bar .sm-pfp {
  /*temporary*/
  height: 40px;
  width: 40px;
  border: 2px solid black;
}
header .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .user-info .lg-pfp {
  /*temporary*/
  height: 80px;
  width: 80px;
  border: 2px solid black;
}
header .user-info .pfp-text-container {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  height: 80px;
  margin-right: auto;
}
header .user-info .pfp-text-container h2 {
  font-size: 2rem;
}
header .user-info button {
  padding: 10px 25px;
  background-color: hsl(0deg, 76%, 44%);
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 4fr 300px;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
  grid-row: span 3;
  background-color: hsl(0deg, 93%, 94%);
}
main p {
  font-size: 0.9rem;
  color: hsl(0deg, 0%, 47%);
  font-weight: 300;
}
main h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
main .projects-container {
  grid-row: span 2;
}
main .projects-container .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
main .projects-container .projects-grid h4 {
  margin-bottom: 10px;
}
main .projects-container .projects-grid .icon-container {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-top: 20px;
}
main .projects-container .projects-grid > div {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
main .projects-container .projects-grid > div h4 {
  font-size: 1.1rem;
}
main .trending-container .tr-flex-container {
  display: flex;
  gap: 10px;
}
main .trending-container .tr-flex-container .sm-pfp {
  /*temporary*/
  height: 40px;
  width: 40px;
  border: 2px solid black;
  margin-bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
